* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #FFFFE0
}

.container {
  display: flex;  
}

.high-score {
  flex: 2;
}

.game{
  flex: 6;
  margin: 100px auto;
  padding: 0 100px;

}

.time{
  flex: 2;

}

h1 {
  margin: 30px 0;
}

button, .question {
  margin: 10px 0;
  /* float: left; */
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover, .question:hover{
  background-color: #F082AC;
}


#answer, h3 {
  border-top: 1px solid #b9a76c;;
  padding: 10px 0; 

}

#container{

  width: 400px;
  margin: 100px auto;
  display: block;
  
}
#goBack-clear{
  display: flex;
  justify-content: space-around;
}

#high-score{
  text-align: center;
}

.li-style{
  text-decoration: none;
  padding: 10px;

}

.li-color1 {
  background: hsl(60, 16%, 80%);
}

.li-color2{
  background: #eeeebb;
}

@media screen and (max-width: 740px) {

  .container {
    flex-direction: column;
    align-items: center;
  }
}

/* 

h1 {
  text-align: center;
  margin-top: 40px auto;
  letter-spacing: 0.25em;
  color: #001b44;
}

#win-lose{
  color: red;
}

.container {
  width: 80vw;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}
.box {
  width:19%;
  height: 200px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  background-color: #093145;
  text-align: center;
  line-height: 200px;
  font-size: 150px;
  color: whitesmoke;
}

.c-box {
  width:19%;
  height: 200px;
  margin: 1%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 8px;
  background-color: #093145;
  text-align: center;
  line-height: 200px;
  font-size: 150px;
  color: red;
}

button {
  display: block;
  padding: 10px;
  margin: 24px auto;
  cursor: pointer;
  font-size: 24px;
  background-color: #247BA0;
  color: white;
}


.result {
  display: block;
  margin: 40px auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60vw;
  background-color: #f0ead6;
}


@media (max-width: 740px) {
  .box {
    width: 48%;
  }
} */
